/* candal-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Candal';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/candal-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/candal-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/candal-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/candal-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/candal-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/candal-v15-latin-regular.svg#Candal') format('svg'); /* Legacy iOS */
}

:root {
  font-size: 62.5%;
  overflow-y: auto;
  background-color: red;
  overflow: hidden;
  --scrollbar-width: 1rem;
  --page-padding: 0.5rem;
}


.page {
  height: 100%;
  overflow: hidden;
  background-color: rgb(96, 96, 198);
  background: rgba(0, 0, 0, 0.5); 
  background-image: url("../images/accordion.webp");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  font-family: 'Candal', sans-serif;
  padding: var(--page-padding);
  gap: 1rem;
}

.header {
  color: #ffffff;
  padding: 0.5em;
}

.main {
  flex-grow: 1;
  scrollbar-gutter: stable;
  overflow-y: auto;
  padding-left: var(--scrollbar-width);
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  background-color: transparent;

}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #ffffff8e;
}

.container {
  margin: 0 auto;
  width: calc(100% - var(--scrollbar-width));
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.memes-list {
  display: flex;
  background: #ffffffe6;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  padding: 2em;
  border-radius: 1em;
}

.memes-list__item {
  width: 100%;
  display: block;
  cursor: pointer;
  border: 1px solid;
}

.item__header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  gap: 0.8em;
  font-size: 1.2rem;
}

.item__icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  background: url("../images/plus.svg") center / 100% no-repeat;
  transition: all 0.3s ease;
}

.item__input:checked ~ .item__content .item__icon {
  transform: rotate(45deg);
}


.item__pic {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  transition: max-height 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);;
}

.item__img {
  max-width: 90%;
  height: auto;
}

.item__input {
  display: none;
}

.item__input:checked ~ .item__content .item__pic {
  max-height: 100vh;
  padding: 1em 0;
}

.item__input:checked ~ .item__content {
  color: blue;
}

.memes-list__item:has(input:active) .item__content {
  color: deeppink;
}


@media (hover: hover) and (pointer: fine) {
  .memes-list__item:hover .item__content {
    color: green;
  }

  .item__icon {
    opacity: 0;
  }

  .memes-list:hover .item__icon {
    opacity: 1;
  }

  .memes-list__item:hover .item__pic {
    max-height: 100vh;
  }
}
